/*font */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Baloo Bhaina 2', cursive;
}
body{
    background: white;
    display: flex;
    flex-direction: column;
}
/* navigation starts from here */
nav{
    height: 10vh;
    background: #06f5df;
    display: flex;
    padding-top: 5.5vh;
    position:sticky;
    top:0;
}
#nav1{
    margin-left: 5vw;
}
#nav1 a{
    font-size: 3vh;
    text-decoration: none;
    color: #3b386b;
    font-weight:bold;
}
#nav2{
    margin-left: 5vw;;
}
#nav2 a{
    color: #3b386b;
    text-decoration: none;
    /* font-weight: bold; */
    margin: 5vh;
    font-size: 3vh;

}
#nav2 a:hover{
    transition:color 1s ease-in 0s;
    color:black;
}
#nav3 img{
    width: 5vw;
    height: 9vh;
}
/* designing dropdown menu*/
.dropdown a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding:2vh;
    border-radius:1vh;
}
.dropdown{
    display: none;
    padding: .6vh;
    border-radius: 1vh;
    background:rgb(164, 224, 220);
}   
 .dropdown a:hover{
    color:white;
    transition: background-color 1s ease-in 0s;
    background:#3b386b;
}
#nav3:hover .dropdown{
    display:flex;
    flex-direction: column;
}
#nav3{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 85vw;
    margin-top: -3vh;
}
/*dropdown menu designing stop here*/
/* middleArea1 starts from here */
#middleArea1{
    background: #3b386b;
    width:70vw;
    margin:auto;
    margin-top:4vh;
    margin-bottom: 4vh;
    border-top-right-radius: 6vh;
    border-bottom-left-radius: 6vh;
    padding:3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#companyLogo{
    width: 41vw;
    height: 32vh;
}
#imageChange{
    color: #3b386b;
    font-weight: bold;
    background: #06f5df;
    padding: 1vh;
    border: none;
    border-radius: 1vh;
}
#imageUpload{
    display: none;
}
#imageUpload input{
    background: #06f5df;
    margin-top:1vh;
    padding: 1vh;
    border: none;
    border-radius: 1vh;
}
#imageUpload button{
    color: #3b386b;
    font-weight: bold;
    background: #06f5df;
    padding: 1vh;
    border: none;
    border-radius: 1vh;
}
#nameChange{
    margin-top:1vh;
}
#nameChange input{
    background: none;
    color: white;
    font-size: 5vh;
    margin-top:1vh;
    padding: 1vh;
    border: none;
    border-radius: 1vh;
    text-align: center;
    font-weight: bold;
}
#nameChange button{
    display: none;
    color: #3b386b;
    font-weight: bold;
    background: #06f5df;
    padding: 1vh;
    border: none;
    border-radius: 1vh;
}
.pencilEdit{
    width: 2vw;
    height: 4vh;
}
#changeProfileName{
    background: #06f5df;
    border: none;
    border-radius: 4vh;
    padding: 1vh;
}
#middleArea1a{
    display: flex;
    justify-content: center;
    align-items: center;
}
#middleArea1b{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:2vh;
}
#middleArea1b form{
    display: flex;
    flex-direction: column;
}
#changeProfileData{
    background: #06f5df;
    border: none;
    border-radius: 4vh;
    padding: 1vh;
}
#dataChangeButton{
    display: none;
    color: #3b386b;
    font-weight: bold;
    background: #06f5df;
    padding: 1vh;
    border: none;
    border-radius: 1vh;
    width: 5vw;
    margin-top: 2vh;
}
label
{
    color:#06f5df;
    background: none;
    border:none;
}
#i2{
    color:white;
    background: none;
    border:none;
    padding: 1vh;
    border-radius:1vh;
}
#i3
{
    color:white;
    background: none;
    border:none;
    padding: 1vh;
    border-radius:1vh;
}
#i4{
    color:white;
    background: none;
    border:none;
    padding: 1vh;
    border-radius:1vh;
}
/*footer starts from here*/
footer{
    background: black;
    display: flex;
    color:white;
    justify-content: center;
    align-items: center;
}
#footer1 img{
    height: 40vh;
}
#footer2{
    /* border: 2px solid red; */
    display: flex;
    padding: 15vh;
}
#footer2a,#footer2b,#footer2c{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    padding: 5vh;
}
#footer2 h3{
    color:#06f5df;
}
#footer2 a{
    color: white;
    margin-top: 1vh;
    text-decoration: none;
}
#footer2 a:hover{
      transition: color 1s ease-in 0s;
      color: #06f5df;
}